.rootContainer {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows:  95vh;
    width: 75vw;
}

.chatList { 
    background-color: blueviolet;
}



.chatroom {
    background-color: yellowgreen;

}

.me {
    background-color: chartreuse;
}